.container {
  position: relative;
  min-height: 100vh;
  padding-top: 100px;
}

.App {
  color: #ffffff;
  width: 600px;
  margin: 0 auto;
  background-color: #fd5b5e;
  border-radius: 10px;
  box-shadow: 0 0px 11.9px rgba(0, 0, 0, 0.066),
    0 0px 25.6px rgba(0, 0, 0, 0.095), 0 0px 42.6px rgba(0, 0, 0, 0.124),
    0 0px 73px rgba(0, 0, 0, 0.19);
}

.App-header {
  margin-right: 3rem;
  margin-left: 3rem;
  padding-top: 1rem;
  border-bottom: 1px solid salmon;
}

.App-header h1,
.App-header h4 {
  margin: 1rem 0;
}

.container footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
