.App {
  color: #ffffff;
  width: 600px;
  margin: 100px auto;
  background-color: #fd5b5e;
}

.App-header {
  margin-right: 3rem;
  margin-left: 3rem;
  padding-top: 1rem;
  border-bottom: 1px solid salmon;
}

.App-header h1,
.App-header h4 {
  margin: 1rem 0;
}
