.NewTodoForm {
  width: 60%;
  margin: 2rem auto;
  padding-bottom: 2rem;
}

.NewTodoForm-input {
  border: 3px solid #ffffff;
  padding: 1rem;
}

.NewTodoForm-button {
  background-color: transparent;
  border-top: 3px solid salmon;
  border-right: 3px solid salmon;
  border-bottom: 3px solid salmon;
  padding: 1rem;
  color: #ffffff;
  font-weight: bold;
}
